{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} My Shop {% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >  -->
    <link rel="stylesheet" href="{% static 'store/css/bootstrap.css' %}" />
    <script src="{% static 'store/js/popper.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.js' %}"></script>
  </head>
  <body>
    <header>
      <!-- <p class="h5 my-0 me-md-auto fw-normal">Company Name</p> -->
      <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
        <div class="container-fluid">
          <a href="navbar-brnd" href="#">BookStore</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"></button>
        
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
               <li class="nav-item active">
                <a class="nav-link" aria_current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Library
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                  <li> <a class="dropdown-item" href="{% url 'store:all_products' %}">All</a> </li>
                  {% for c in categories %}
                    <li>
                        <a class="dropdown-item" href="{{c.get_absolute_url}}">{{c.name|title}}</a>
                    </li>
                  {% endfor %}
                </ul>

              </li>
            </ul>
            
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
        
    </header>
    <div id="content" class="">
      {% block content %} 
       {% endblock %}
      </div>
  </body>
</html>
